<!doctype html>

<head>
	<style>
		body {
			--color-background: #EFEBCE;
			--color-box: #7E52A0;
			--color-text: #07075a;

			color: var(--color-text) !important;
			background-color: var(--color-background);
			font-family: Arial, Helvetica, sans-serif;
		}

		h1 {
			width: 90%;
			margin: .5em auto;
		}

		.flashes {
			width: 50%;
			padding: 0 5%;
			margin: 0 auto;
			margin-bottom: 1em;
			border: 5px dashed black;
		}

		.container {
			width: 100%;
			height: 100%;
		}

		form p {
			margin: 0 auto;
			padding: 0;
		}

		.input-box {
			padding: 0 1em;
			outline: 5px solid var(--color-box);
			position: relative;
		}

		@media only screen and (min-width: 800px) {
			.container {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
			}

			.input-box {
				width: calc(40%);
				min-height: 300px;
			}
		}

		@media only screen and (max-width: 800px) {
			.container {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
			}
			.input-box {
				height: 300px;
				width: 90%;
				margin: .5em auto;
				float: none;
			}
		}

		.textbox {
			width: calc(100% - 6px);
			height: 175px;
			margin: 0 auto;
			padding: 0;
		}

		#file-button {
			size: 60;
		}

		input[type="submit"] {
			width: 80%;
			bottom: .5em;
			left: 10%;
			position: absolute;
		}
	</style>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Upload Your Meme!</title>
</head>

<body>
	<h1>Meme Printer!</h1>
	{% with messages = get_flashed_messages() %} {% if messages %}
	<div class='flashes'>
		{% for message in messages %}
		<h2>{{ message }}</h2>
		{% endfor %}
	</div>
	{% endif %} {% endwith %}
	<div class="container">
		<div class="input-box">
			<h2>Select a file to upload</h2>
			<form method="post" action="/file-upload" enctype="multipart/form-data">
				<p>
					<input type="file" name="file" autocomplete="off" id="file-button" required>
				</p>
				<p>
					<input type="submit" value="Submit">
				</p>
			</form>
		</div>
		<div class="input-box">
			<h2>Send some text!</h2>
			<form method="post" action="/text-upload">
				<textarea class="textbox" name="big-text"></textarea>
				<p>
					<input type="submit" value="Submit">
				</p>
			</form>
		</div>
	</div>

</body>